{{define "title"}}
Ubah Task
{{end}}

{{define "css"}}

{{end}}

{{define "script"}}

{{end}}


{{define "main"}}
<div class="container">
  <h3 class="d-2 mb-3">Add Assign Task</h2>
    <form action="/update/{{.ID}}" class="form-floating" method="post">
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" name="content">{{.Note.Content}}</textarea>
            <label>Task Detail</label>
        </div>
    
        <div class="row g-2 mb-3">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control col-md-3"  placeholder="Leave a comment here" name="pegawai" value="{{.Note.Assignee}}">
                <label>Assign to</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="date" class="form-control col-md-3" name="deadline" value="{{.Note.Date}}">
                <label>Due Date</label>
              </div>
            </div>
          </div>
    
    
    
       
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>


{{end}}

