{{define "title"}}
Dashboard
{{end}}

{{define "css"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css" integrity="sha512-1k7mWiTNoyx2XtmI96o+hdjP8nn0f3Z2N4oF/9ZZRgijyV4omsKOXEnqL1gKQNPy2MTSP9rIEWGcH/CInulptA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{end}}

{{define "script"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function(){
        $('.table').DataTable()
    })
</script>

{{end}}


{{define "main"}}
<h1 class="display-6 mt-5">Task Assignment</h1>
<a href="/create" class="btn btn-primary mb-4"><i class="fa solid fa-plus"></i>Create</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Task</th>
            <th>Assign To</th>
            <th>Deadline</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{range $note :=.Notes}}
        <tr>
            <td>{{$note.Content}}</td>
            <td>{{$note.Assignee}}</td>
            <td>{{$note.Date}}</td>
            <td>
                {{if $note.IsDone}}
                <p class="text-success">Task is Done</p>
                {{else}}
                
                    <a href="/edit/{{$note.ID}}" class="btn btn-sm btn-warning">Edit</a>
                   <!-- mark as done -->
                    <form class="d-inline" action="/done/{{$note.ID}}" method="post">
                            <button type="submit" class="btn btn-sm btn-success">Selesai</button>
                        </form>
                    
                        <!-- delete -->
                        <form class="d-inline" action="/delete/{{$note.ID}}" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">Hapus</button>
                        </form>
               

               

                
                {{end}}

              
               
            </td>
        </tr>
        {{end}}
    </tbody>
</table>


{{end}}

